<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jdbc="http://www.springframework.org/schema/jdbc"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">
  
  <import resource="spring-datasource-mysql.xml"/>
  <import resource="spring-security.xml"/>
  
  
	<jdbc:initialize-database data-source="dataSource">
		<!-- enabled="#{systemProperties.INITIALIZE_DATABASE}"> -->
  		<jdbc:script location="classpath:mysql-init.sql"/>
  	</jdbc:initialize-database>
  
  </beans>